* {
  /* margin: 0; */
  box-sizing: border-box;
}

html {
  --text-white-color: #ffffff;
  --background-white-color: #ffffff;
  --text-grey-color: #333333;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}

header {
  background-color: black;
  background-image: url("./../images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  font-size: 0;
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 450px;
  max-width: 1276px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 100px 26.4px;
}

h1 {
  font-size: 35.2px;
  font-weight: 600;
  color: var(--text-white-color);
  padding: 0 35.2px;
}

.sub-main-title {
  font-size: 17.6px;
  color: var(--text-white-color);
  padding: 17.6px 17.6px;
  margin: 0 auto;
}

.read-more-link {
  font-size: 17.6px;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-white-color);
  border: 1px solid #333;
  padding: 17.6px 35.2px;
  margin: 8.8px 0px;
}
.section-under-header {
  background-color: #eaeaea;
  padding-bottom: 35.2px;
}

.title-section {
  font-size: 26.4px;
  color: var(--text-grey-color);
  padding: 26.4px;
}

p {
  font-size: 17.6px;
  color: var(--text-grey-color);
  padding: 17.6px;
}

.info-section {
  column-count: 2;
  column-gap: 35.2px;
  column-width: auto;
  margin: 0;
}

/* .content-articles {
  display: flex;
} */

.section-with-articles {
  background-color: #333;
  padding: 35.2px 17.6px 17.6px;
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}

.article-in-section + .article-in-section {
  margin-left: 20px;
}

.article-in-section {
  background-color: var(--background-white-color);
  margin-bottom: 10px;
  width: 33.333%;
}

.image-article {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.title-article {
  font-size: 21px;
  color: var(--text-grey-color);
  padding: 21px;
}

.section-under-articles {
  background-color: var(--background-white-color);
  padding: 35.2px;
}

.content--main-bottom {
  display: flex;
}

.section-bottom1,
.section-bottom2 {
  padding: 35.2px;
  color: var(--text-white-color);
  width: 50%;
}

.section-bottom1 {
  background-color: blue;
}

.section-bottom2 {
  background-color: #333;
}

.title-section-bottom {
  font-size: 26.4px;
  color: var(--text-white-color);
  padding: 26.4px;
}

.section-bottom-info {
  color: inherit;
}

.mail-info {
  color: inherit;
}

footer {
  display: flex;
  color: var(--text-white-color);
  padding: 35.2px;
  background-color: black;
}

.footer-info {
  color: var(--text-white-color);
  padding: 0px;
  width: 50%;
}

.footer-link {
  text-decoration: none;
}
